.page_description{
    border-bottom: solid #e8e8e8 1px;
    margin-bottom: 30px;
}
form{
    width: 70%;
    float: left;
    border-right: solid #e8e8e8 1px;
    padding-right: 10px;
    margin-bottom: 80px;
}
.questions{
    padding: 10px;
}
#details_of_selected{
    padding-left: 73%;
}
#details_of_selected h1{
    margin: 0;
    font-family: Amatic SC, sans-serif;
    padding-bottom: 5px;
    border-bottom: solid #e8e8e8 1px;
}
#style_details h2, #genre_details h2{
    font-family: Amatic SC, sans-serif;
    display: none;
}
#style_details div, #genre_details div{
    padding-top: 5px;
    padding-bottom: 5px;
}
#estimate_price{
    float: left;
    border-top: solid #e8e8e8 1px;
    padding-top: 10px;
    margin-top: 10px;
    padding-right: 20px;
}
#estimate_price span{
    font-size: 1.5em;
    padding-left: 5px;
    font-weight: bold;
    transition: .2s ease;
}
.commission-form-input{
    font-family: Calibri, sans-serif;
    padding: 6px;
    border: none;
    border-bottom: solid #e8e8e8 1px;
    width: 95%;
    padding-left:10px;
    outline: none;
    transition: .2s ease;
    resize: none;
}
.commission-form-input:focus{
    border-bottom: solid grey 1px;
    transition: .2s ease;
}
.commission-form-dropdown{
    font-family: Calibri, sans-serif;
    border: none;
    border-bottom: solid #e8e8e8 1px;
    width: 97%;
    padding: 6px;
    max-width: 97%;
    outline: none;
}
#disclosure h4{
    margin: 0;
}
#disclosure p{
    font-size: .8em;
    margin: 10px;
    color: #a8a8a8
}
#acknowledgement{
    color: #a8a8a8;
    font-size: .8em;
    margin: 10px;
}
#buttons{
    padding-left: 10px;
}
#buttons input{
    background-color: #e8e8e8;
    border: none;
    padding: 10px;
    width: 15%;
    outline: none;
}
#buttons input:hover{
    background-color: #a8a8a8;
    cursor: pointer;
}
#buttons input:active{
    background-color: #989898;
}
#buttons input:disabled{
    cursor: not-allowed;
}
.styleHidden, .otherHidden{
    display: none;
}
.genreHideable, .styleHideable{
    display: none;
}